html {
	background-image: url("embeds/background.gif");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

a {
	color: pink;
}

body {
	color: white;
	font-family: "Happy Monkey";
}

div {
	border-radius: 20px;
}

img {
	max-width: 50vw;
	height: auto;
	object-fit: contain;
}

.stuff {
	text-align: center;
	width: 15vw;
	position: sticky;
	top: 10px;
	height: max-content;
}

.side, .nav, .info {
	background-color: rgba(47, 25, 50, 0.4);
}

.side {
	margin: 5px;
	display: grid;
}

.nav {
	margin: 5px;
	display: grid;
	height: auto;
}

.nav ul {
	list-style-type: none;
	padding-left: 0;
}

.nav li {
	text-align: center;
	align-items: center;
	font-size: 30px;
}

.page{
	padding: 1%;
	display: flex;
	position: absolute;
	left: 10vw;
	right: 10vw;
}

.info{
	margin: 5px;
	width: 70%;
	justify-content: center;
	align-items: center;
	text-align: center;
}

ul{
	text-align: left;
}

@media only screen and (max-width: 700px) {
	div {
		flex-direction: column;
	}
	
	.stuff {
		display: flex;
		flex-direction: row;
		width: auto;
		position: static;
	}
	
	.side {
		order: 1;
		display: flex;
		flex-direction: column;
		width: 50%;
		max-height: 100%;
		align-items: center;
	}
	
	.nav {
		align-items: center;

		order: 2;
		width: 50%;
		height: auto;
	}
	
	.nav ul{
		padding-left: 0;
		text-align: center;
	}

	.info {
		order: 3;
		width: auto;
	}
	
	.page {
		left: 0%;
		right: 0%;
		display: grid;
	}
	

}
